body{
    background-color: hsl(0, 0%, 95%);
}
@media only screen and (max-width: 1440px){
.container2
{
    display:flex;
    justify-content: center;  
    margin-top: 20vh;
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "c1 c2 c3";
    width: 50rem;
    height: 28rem;
    border-radius: 10px;
    overflow: hidden;

}

    .c1
    {
        
        background-color: hsl(31, 77%, 52%);
    }
    .c2
    {
       
        background-color: hsl(184, 100%, 22%);
    }
    .c3
    {
        
        background-color: hsl(179, 100%, 13%);
    }

    .c1 img{
        margin: 15% 15%;
    }
    .c2 img{
        margin: 15% 15%;
    }
    .c3 img{
        margin: 15% 15%;
    }

    .head{
        font-family: 'Big Shoulders Display', cursive;
        font-weight: 700px;
        font-size: 40px;
        color: hsl(0, 0%, 95%);
        margin-top: 0%;
        margin-left: 15%;
    }
    .body
    {
        font-family: 'Lexend Deca', sans-serif;
        font-weight: 400px;
        font-size: 15px;
        color: hsla(0, 0%, 100%, 0.75);
        margin-left: 15%;
        margin-right: 10%;
        margin-top:-5%;
        line-height: 20px;
    }
    .button
    {
        font-family: 'Lexend Deca', sans-serif;
        height: 45px;
        width: 130px;
        border:2px solid hsl(0, 0%, 95%);
        color: hsl(0, 0%, 95%);
        background-color: transparent;
        border-radius: 30px;
        outline: none;
        font-size: 15px;
        margin:15% 15%;
    }
    .c1 button:hover{
        background-color: #fff;
        color: hsl(31, 77%, 52%);
    }
    .c2 button:hover{
        background-color: #fff;
        color: hsl(184, 100%, 22%);
    }
    .c3 button:hover{
        background-color: #fff;
        color: hsl(179, 100%, 13%);
    }
}
    @media only screen and (max-width: 375px) {
        .container2
{
    margin-top: 50px;
}
        .container{
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: .3fr .5fr .5fr;
            grid-template-areas: 
            "c1"
            "c2"
            "c3"
            ;
            width: 80vw;
            height: 80rem;
            border-radius: 10px;
            overflow: hidden;
        }
        .c1
    {
        
        background-color: hsl(31, 77%, 52%);
    }
    .c2
    {
       
        background-color: hsl(184, 100%, 22%);
    }
    .c3
    {
        
        background-color: hsl(179, 100%, 13%);
    }
    .c1 img{
        margin: 10% 15%;
    }
    .c2 img{
        margin: 10% 15%;
    }
    .c3 img{
        margin: 10% 15%;
    }

      }